## JavaScript Object Notation(JSON) 
A JSON file is a file that stores simple data stuctures and objects in java script object notation format which is a standard data interchange format. It is primarily used for transmitting data between a web application and a server.

In [17]:
import pandas as pd
#reading json file
df = pd.read_json('example_1.json')

In [18]:
df

    fruit   size   color
0   Apple  Large     Red
1  Orange  Large  Orange
2   Mango  Large  Yellow
3  Chikoo  Small   Brown
4  Litchi  Small     Red

In [19]:
# example 2
data = pd.read_json('example_2.json')
data

                                                    quiz
maths  {'q1': {'question': '5 + 7 = ?', 'options': ['...
sport  {'q1': {'question': 'Which one is correct team...