## SAS files
A SAS file is a Statistical Analysis Software file. The SAS file is an ASCII(text) file that contains a series of SAS functions that may be run against a dataset.

In [1]:
import pyreadstat

In [2]:
df, meta = pyreadstat.read_sas7bdat('airline.sas7bdat')
type(df)

pandas.core.frame.DataFrame

In [3]:
df.head()

     YEAR      Y      W       R      L      K
0  1948.0  1.214  0.243  0.1454  1.415  0.612
1  1949.0  1.354  0.260  0.2181  1.384  0.559
2  1950.0  1.569  0.278  0.3157  1.388  0.573
3  1951.0  1.948  0.297  0.3940  1.550  0.564
4  1952.0  2.265  0.310  0.3559  1.802  0.574

In [1]:
import pandas as pd
# reading sas file
data = pd.read_sas('airline.sas7bdat')
data.head()

     YEAR      Y      W       R      L      K
0  1948.0  1.214  0.243  0.1454  1.415  0.612
1  1949.0  1.354  0.260  0.2181  1.384  0.559
2  1950.0  1.569  0.278  0.3157  1.388  0.573
3  1951.0  1.948  0.297  0.3940  1.550  0.564
4  1952.0  2.265  0.310  0.3559  1.802  0.574

In [2]:
data.shape

(32, 6)

## SPSS file

In [4]:
# reading spss file using pandas
df = pd.read_spss('survey_1.sav')
df.head()

    ID    Name     Day   Age  Response  Gender
0  1.0    John  Fourth  23.0  0.348566     0.0
1  2.0  Billie  Fourth  22.0  0.377047     0.0
2  3.0  Robert  Fourth  20.0  0.274094     0.0
3  4.0     Don  Fourth  27.0  0.415665     0.0
4  5.0  Joseph  Fourth  21.0  0.503052     0.0

In [5]:
df.shape

(200, 6)

In [6]:
# reading spss file using pyreadstat
df, meta = pyreadstat.read_sav('survey_1.sav')
type(df)

pandas.core.frame.DataFrame