In [1]:
# importing required libraries
import mysql.connector as sql
import pandas as pd

In [4]:
# creating connection
db = sql.connect(host = 'localhost', user = 'root',passwd = 'dbmsadmin',database = 'company',
                 auth_plugin='mysql_native_password')

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost' (10061)

In [ ]:
# create data as pandas dataframe
query = "select * from employees"
data = pd.read_sql(query, db)

In [ ]:
# print the data
data.head()

In [ ]:
data.shape