In [1]:
# importing library
import pandas as pd

In [2]:
# creating a data frame
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)

In [3]:
df

   col1  col2
0     1     3
1     2     4

In [6]:
data = pd.DataFrame([[2,3,4],[4,3,0]])

In [7]:
data

   0  1  2
0  2  3  4
1  4  3  0

In [3]:
# retreiving index of the data frame
df.index

RangeIndex(start=0, stop=2, step=1)

In [4]:
# retreiving columns of the data frame
df.columns

Index(['col1', 'col2'], dtype='object')

In [5]:
# retreiving data types of the data frame
df.dtypes

col1    int64
col2    int64
dtype: object

In [6]:
# retreiving values of the data frame
df.values

array([[1, 3],
       [2, 4]], dtype=int64)

In [7]:
# retreiving both the row index and the column index
df.axes

[RangeIndex(start=0, stop=2, step=1), Index(['col1', 'col2'], dtype='object')]

In [8]:
# retreiving the shape of the data frame
df.shape

(2, 2)

In [9]:
# retreiving the number of elements in the data frame
df.size

4

In [10]:
# checking whether the data frame is empty or not
df.empty

False