In [1]:
# importing libraries
import pandas as pd

In [2]:
# creating Time Series data
time_series = pd.date_range('4/1/2021',periods = 20)
df = pd.DataFrame({'date':time_series})
df

         date
0  2021-04-01
1  2021-04-02
2  2021-04-03
3  2021-04-04
4  2021-04-05
5  2021-04-06
6  2021-04-07
7  2021-04-08
8  2021-04-09
9  2021-04-10
10 2021-04-11
11 2021-04-12
12 2021-04-13
13 2021-04-14
14 2021-04-15
15 2021-04-16
16 2021-04-17
17 2021-04-18
18 2021-04-19
19 2021-04-20

In [4]:
df.dtypes

date    datetime64[ns]
dtype: object

In [5]:
df['year'] = df['date'].dt.year
df.head()

        date  year
0 2021-04-01  2021
1 2021-04-02  2021
2 2021-04-03  2021
3 2021-04-04  2021
4 2021-04-05  2021

In [6]:
df['month'] = df['date'].dt.month
df.head()

        date  year  month
0 2021-04-01  2021      4
1 2021-04-02  2021      4
2 2021-04-03  2021      4
3 2021-04-04  2021      4
4 2021-04-05  2021      4

In [9]:
df['week'] = df['date'].dt.week
df.head()

c:\users\sys\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  """Entry point for launching an IPython kernel.

        date  year  month  week
0 2021-04-01  2021      4    13
1 2021-04-02  2021      4    13
2 2021-04-03  2021      4    13
3 2021-04-04  2021      4    13
4 2021-04-05  2021      4    14

In [13]:
df['date'].dt.isocalendar().week

0     13
1     13
2     13
3     13
4     14
5     14
6     14
7     14
8     14
9     14
10    14
11    15
12    15
13    15
14    15
15    15
16    15
17    15
18    16
19    16
Name: week, dtype: UInt32

In [12]:
df['date'].dt.dayofweek

0     3
1     4
2     5
3     6
4     0
5     1
6     2
7     3
8     4
9     5
10    6
11    0
12    1
13    2
14    3
15    4
16    5
17    6
18    0
19    1
Name: date, dtype: int64