In [1]:
import pandas as pd
import numpy as np

In [2]:
# creating data frame
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2000-01-01 -0.544858  1.501030  0.398307  2.898312
2000-01-02 -1.865583 -0.259714  0.773989  0.431193
2000-01-03  1.487278  0.146009  0.432166  0.378402
2000-01-04 -1.041421  0.242035  0.946409 -1.346505
2000-01-05 -1.091189  0.219331  0.687794 -2.020007
2000-01-06 -0.983689  0.068095 -0.686029 -2.571632
2000-01-07 -0.049957 -0.999446  0.815232  0.079493
2000-01-08  1.215236 -0.167332  0.724816  0.659588

In [3]:
# indexing using loc[]
df.loc[:,'A']

2000-01-01   -0.544858
2000-01-02   -1.865583
2000-01-03    1.487278
2000-01-04   -1.041421
2000-01-05   -1.091189
2000-01-06   -0.983689
2000-01-07   -0.049957
2000-01-08    1.215236
Freq: D, Name: A, dtype: float64

In [4]:
df.loc[:, 'A':'C']

                   A         B         C
2000-01-01 -0.544858  1.501030  0.398307
2000-01-02 -1.865583 -0.259714  0.773989
2000-01-03  1.487278  0.146009  0.432166
2000-01-04 -1.041421  0.242035  0.946409
2000-01-05 -1.091189  0.219331  0.687794
2000-01-06 -0.983689  0.068095 -0.686029
2000-01-07 -0.049957 -0.999446  0.815232
2000-01-08  1.215236 -0.167332  0.724816

In [5]:
# strides
df.loc[::2]

                   A         B         C         D
2000-01-01 -0.544858  1.501030  0.398307  2.898312
2000-01-03  1.487278  0.146009  0.432166  0.378402
2000-01-05 -1.091189  0.219331  0.687794 -2.020007
2000-01-07 -0.049957 -0.999446  0.815232  0.079493

In [6]:
# indexing using iloc[]
df.iloc[:2,:3]

                   A         B         C
2000-01-01 -0.544858  1.501030  0.398307
2000-01-02 -1.865583 -0.259714  0.773989

In [7]:
df.iloc[4:,2:4]

                   C         D
2000-01-05  0.687794 -2.020007
2000-01-06 -0.686029 -2.571632
2000-01-07  0.815232  0.079493
2000-01-08  0.724816  0.659588

In [8]:
for index, row in df.iterrows():
    print("Index: {} Rows: {}".format(index, row.values))

Index: 2000-01-01 00:00:00 Rows: [-0.54485781  1.50103006  0.39830682  2.89831192]
Index: 2000-01-02 00:00:00 Rows: [-1.86558289 -0.25971393  0.77398905  0.4311926 ]
Index: 2000-01-03 00:00:00 Rows: [1.48727781 0.14600897 0.43216591 0.37840174]
Index: 2000-01-04 00:00:00 Rows: [-1.04142136  0.24203514  0.94640933 -1.34650519]
Index: 2000-01-05 00:00:00 Rows: [-1.09118942  0.21933072  0.68779404 -2.02000696]
Index: 2000-01-06 00:00:00 Rows: [-0.98368871  0.06809506 -0.68602864 -2.57163248]
Index: 2000-01-07 00:00:00 Rows: [-0.04995731 -0.99944635  0.81523181  0.07949265]
Index: 2000-01-08 00:00:00 Rows: [ 1.21523572 -0.1673322   0.72481555  0.65958764]

In [9]:
for row in df.itertuples():
    print(row)

Pandas(Index=Timestamp('2000-01-01 00:00:00', freq='D'), A=-0.5448578129375133, B=1.5010300597330144, C=0.3983068187252657, D=2.8983119245741755)
Pandas(Index=Timestamp('2000-01-02 00:00:00', freq='D'), A=-1.8655828874222347, B=-0.25971392633411655, C=0.7739890511817209, D=0.43119259979999597)
Pandas(Index=Timestamp('2000-01-03 00:00:00', freq='D'), A=1.487277811658206, B=0.14600897283523798, C=0.43216591074635763, D=0.37840174235652363)
Pandas(Index=Timestamp('2000-01-04 00:00:00', freq='D'), A=-1.0414213584866636, B=0.24203514150608607, C=0.9464093293131465, D=-1.3465051936317354)
Pandas(Index=Timestamp('2000-01-05 00:00:00', freq='D'), A=-1.0911894247944902, B=0.21933071910012095, C=0.6877940448441232, D=-2.020006956622897)
Pandas(Index=Timestamp('2000-01-06 00:00:00', freq='D'), A=-0.983688707452594, B=0.06809506117468037, C=-0.6860286423879619, D=-2.5716324754607087)
Pandas(Index=Timestamp('2000-01-07 00:00:00', freq='D'), A=-0.049957307701142754, B=-0.9994463465872252, C=0.8152318083497122, D=0.07949265332706701)
Pandas(Index=Timestamp('2000-01-08 00:00:00', freq='D'), A=1.21523571956654, B=-0.16733220062357063, C=0.7248155530666419, D=0.6595876398297511)