## Reindexing in dataframes
Reindexing changes the row labels and column labels of a DataFrame. To reindex means to conform the data to match a given set of labels along a particular axis. Reorder the existing data to match a new set of labels. Insert missing value (NA) markers in label locations where no data for the label existed.

In [1]:
# importing libraries
import pandas as pd

In [2]:
# creating dataframes
df = pd.DataFrame({'http_status': [200, 200, 404, 404, 301],
                  'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]},
                  index=['Firefox', 'Chrome', 'Safari', 'IE10', 'Konqueror'])
df

           http_status  response_time
Firefox            200           0.04
Chrome             200           0.02
Safari             404           0.07
IE10               404           0.08
Konqueror          301           1.00

In [5]:
# reindexing
new_index = ['Safari', 'Iceweasel', 'Comodo Dragon', 'IE10',
             'Chrome']
df.reindex(new_index, fill_value = 0)

               http_status  response_time
Safari                 404           0.07
Iceweasel                0           0.00
Comodo Dragon            0           0.00
IE10                   404           0.08
Chrome                 200           0.02

We can fill in the missing values by passing a value to the keyword fill_value. Because the index is not monotonically increasing or decreasing, we cannot use arguments to the keyword method to fill the NaN values.

In [4]:
df.reindex(new_index, fill_value=0)

               http_status  response_time
Safari                 404           0.07
Iceweasel                0           0.00
Comodo Dragon            0           0.00
IE10                   404           0.08
Chrome                 200           0.02

In [4]:
df.reset_index()

       index  http_status  response_time
0    Firefox          200           0.04
1     Chrome          200           0.02
2     Safari          404           0.07
3       IE10          404           0.08
4  Konqueror          301           1.00